
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    /* =================================
       TIPOGRAFÍA KLASSIO
       ================================= */

    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-display: 'Poppins', ui-sans-serif, system-ui, sans-serif;

    /* =================================
       COLORES PRINCIPALES
       ================================= */

    --color-klassio: #635BFF;
    --color-klassio-dark: #5148E5;

    --color-klassio-teal: #14B8A6;
    --color-klassio-yellow: #F59E0B;
    --color-klassio-pink: #F472B6;

    --color-klassio-text: #172554;
    --color-klassio-muted: #64748B;

    --color-klassio-background: #F8FAFC;
}